body.ContactPage{
    background-color:#fff;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    
}
.contact .content{
    max-width: 800px;
    text-align: center;
    
}

.contact .content h2{
    font-size: 40px;
    font-weight: 500;
    color: #202040;
    text-transform: capitalize;

}

.contact .content p{
 
    font-weight: 300;
}

.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:  30px;
    margin-right: 30px;
    
}

.contact-container .contactInfo{
    width: 50px;
    display: flex;
    flex-direction: column;
    
    

}
.contact-container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;

}

.contact-container .contactInfo .box .icon{
   min-width: 60px;
   height: 60px;
   background-color: #202040;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50% ;
   font-size: 22px;
   color: #fff;


}

.contact-container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
    
}

.contact-container .contactInfo .box .text h3{
    font-weight: 300;
    color: #202040;
    white-space: nowrap;
    margin-top: 20px;
   
}

.ContactForm{
    width: 40%;
    padding: 40PX;
    background: #202040;
    margin-left: 500px;
    border-radius: 25px;
    border: #602080 2px solid;
    box-shadow: 0 0 10px #B030B0;
}


.ContactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
   border-radius: 5px;
}

.ContactForm .inputBox input,
.ContactForm .inputBox textarea,
.ContactForm .inputBox .Problem{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}



.ContactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.ContactForm input{
    border-radius: 5px;
}

.ContactForm textarea{
    border-radius: 5px;
}

select{
    border-radius: 5px;
}

.ContactForm .inputBox input:focus~ span ,
.ContactForm .inputBox input:valid~ span ,
.ContactForm .inputBox textarea:focus~ span ,
.ContactForm .inputBox textarea:valid~ span
{
    color: #fff ;
    font-size:12px ;
    transform: translateY(-20px);
  
}

.ContactForm .inputBox input[type=submit]
{
    width: 100px;
    background: #fff;
    color: #202040;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
