.FOOTER {
    
    background-color:#202040;
    font-family: "Times New Roman", serif;
    color: white;
    border-top: 5px solid #602080;
    border-bottom: 5px solid #602080;
    padding: 70px 0;
    line-height: 1.5;
    
}

.footercontainer{
    max-width: 1170px;
    margin:auto;
}

.footer-col{
   width:25%;
   padding:0 15px;
   
}
ul{
    list-style: none;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255,255,255,0.2);
    margin-right:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: azure;
    transition: all 0.5sec ease;

}

.footer-col .social-links :hover{
    color: #202040;
    background-color: azure;
}


body {
    height: 100vh;
    background-color: #202040;
    background-position: center;
}

.footer-col h4{
   
    font-weight: 500px;
    text-transform: capitalize;
    margin-bottom: 15px;
    position: relative;

}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: azure;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 7px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;   
    font-weight:300;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s  ease;
}
  

.footer-col ul li a:hover{
    text-decoration: underline;
    color: #8f35bd;
    padding-left: 10px;
}


* {
  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  

